<a href="https://colab.research.google.com/github/ExploHealth/DATAPYTHON_LEARNING_TMP-/blob/main/chapter_2_lists_tuples_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2: Lists, Tuples, and Dictionaries
In this chapter, you'll learn how to store, access, and manipulate collections of data using **lists**, **tuples**, and **dictionaries**.

## Lists in Python
A list is an ordered collection of items that can be changed (mutable). Lists can store any type of data: numbers, strings, or even other lists.

### Syntax:
`my_list = [item1, item2, item3]`

### Common Operations:
- Access items: `my_list[0]`
- Add items: `my_list.append(value)`
- Remove items: `my_list.remove(value)`
- Slice list: `my_list[1:3]`

In [4]:
my_colors = ["red", "green", "blue"]
print(f"First colour: {my_colors[0]}")

First colour: red

In [2]:
# Example of list operations
fruits = ["apple", "banana", "cherry"]
print(f"First fruit: {fruits[0]}")
fruits.append("orange")
print(f"Fruits after append: {fruits}")
fruits.remove("banana")
print(f"Fruits after remove: {fruits}")

First fruit: apple
Fruits after append: ['apple', 'banana', 'cherry', 'orange']
Fruits after remove: ['apple', 'cherry', 'orange']

### ðŸ§  Exercise 1:
Create a list of 5 favorite movies and print the second and fourth ones.

In [3]:
# Create a list of five favorite movies
favorite_movies = [
    "The Shawshank Redemption",
    "Inception",
    "The Dark Knight",
    "Pulp Fiction",
    "The Lord of the Rings: The Fellowship of the Ring"
]

# Print the 2nd and 4th movies (remember: list indices start at 0)
print(f"Second movie: {favorite_movies[1]}")
print(f"Fourth movie: {favorite_movies[3]}")

Second movie: Inception
Fourth movie: Pulp Fiction

### ðŸ§  Exercise 2:
Add a new movie to the list, then remove the first one. Print the final list.

In [5]:
favorite_movies.append("Avengers")

# Remove the first movie
favorite_movies.pop(0)

# Print the final list
print("Final movie list:")
print(favorite_movies)

Final movie list:
['Inception', 'The Dark Knight', 'Pulp Fiction', 'The Lord of the Rings: The Fellowship of the Ring', 'Avengers']

## Tuples in Python
A tuple is like a list, but it cannot be changed (immutable). Use tuples when you want to ensure the data stays the same.

### Syntax:
`my_tuple = (item1, item2, item3)`

In [8]:
# Tuple example
colors = ("red", "green", "blue")
print(f"First color: {colors[0]}")
colors[1] = "yellow"  # This will cause an error (uncomment to test immutability)

First color: red

TypeError: 'tuple' object does not support item assignment

### ðŸ§  Exercise 3:
Create a tuple of your top 3 programming languages and print them one by one.

In [15]:
top_languages = ("Python", "JavaScript", "C++")

# Print each language one by one
for language in top_languages:
    print(language)

Python
JavaScript
C++

### ðŸ§  Exercise 4:
Try to change an item in the tuple and observe the error. What does it tell you?

In [14]:
#Tuple example
colors = ("red", "green", "blue")
print(f"First color: {colors[0]}")
colors[1] = "yellow"

First color: red

TypeError: 'tuple' object does not support item assignment

## Dictionaries in Python
Dictionaries store data in key-value pairs. They are useful for looking up values by a unique key.

### Syntax:
`my_dict = {"key1": value1, "key2": value2}`

### Common Operations:
- Access values: `my_dict["key1"]`
- Add new key-value: `my_dict["key3"] = value3`
- Remove key-value: `del my_dict["key1"]`

In [17]:
student1 = {"name": "Alice", "age": 22, "grade": "A"}
student2 = {"name": "Bob",   "age": 21, "grade": "B"}

# Modify student1
student1["age"] = 23
student1["gender"] = "female"
del student1["grade"]

# Modify student2
student2["age"] = 22
student2["gender"] = "male"
del student2["grade"]

# Print both updated dictionaries
print("student1:", student1)
print("student2:", student2)

student1: {'name': 'Alice', 'age': 23, 'gender': 'female'}
student2: {'name': 'Bob', 'age': 22, 'gender': 'male'}

### ðŸ§  Exercise 5:
Create a dictionary of 3 items about yourself (e.g., name, city, profession) and print it.

In [18]:
about_you = {
    "name": "Okeke Chukwuebuka Chinweze",
    "city": "Lagos, Nigeria",
    "profession": "Pharmacist"
}

# Print the dictionary
print(about_you)

{'name': 'Okeke Chukwuebuka Chinweze', 'city': 'Lagos, Nigeria', 'profession': 'Pharmacist'}

### ðŸ§  Exercise 6:
Add a new key-value to your dictionary and delete one of the existing keys. Print the updated dictionary.

In [19]:
# Original dictionary about you
about_you = {
    "name": "Okeke Chukwuebuka Chinweze",
    "city": "Lagos, Nigeria",
    "profession": "Pharmacist"
}

# Add a new key-value pair
about_you["birth_year"] = 1995

# Delete one of the existing keys
del about_you["city"]

# Print the updated dictionary
print(about_you)

{'name': 'Okeke Chukwuebuka Chinweze', 'profession': 'Pharmacist', 'birth_year': 1995}